Checks: android-cloexec-*,bugprone-*,google-explicit-constructor,android-comparison-in-temp-failure-retry,modernize-use-nullptr,performance-for-range-copy,performance-noexcept-move-constructor,readability-container-size-empty,readability-else-after-return
CheckOptions:
  - key:             bugprone-assert-side-effect.AssertMacros
    value:           'PERFETTO_DCHECK'
  - key:             android-comparison-in-temp-failure-retry.RetryMacros
    value:           'PERFETTO_EINTR,TEMP_FAILURE_RETRY'
