.android_config
.cache
.ccls
.ccls-cache
.clangd
.cproject
.deps_sha1
.DS_Store
.eslintcache
.gclient*
.gm-actuals
.gradle
.idea
.project
.recipe_deps/
.settings/
.vscode
*.code-workspace
*.iml
*.pyc
*.sock
*.swp
/bazel-*
/compile_commands.json
/fuzz_out/
/out*
/ui/dist
/venv/*
perf.data*
TAGS
/*.pftrace
examples/sdk/build/
GPATH
GRTAGS
GTAGS
