.aider*
.android_config
.cache
.cargo
.ccls
.ccls-cache
.clangd
.claude
.cproject
.cursor*
.deps_sha1
.DS_Store
.env
.eslintcache
.gclient*
.gemini
.gemini/
.gm-actuals
.gradle
.idea
.project
.recipe_deps/
.roo*
.settings/
.venv
.vscode
*.code-workspace
*.core
*.iml
*.LOCAL.md
*.pyc
*.sock
*.swp
/*.pftrace
/bazel-*
/compile_commands.json
/fuzz_out/
/out*
/ui/dist
/venv/*
depot_tools/
examples/sdk/build/
gha-creds-*.json
GPATH
GRTAGS
GTAGS
mise.toml
perf.data*
rfcs
TAGS
