android_sdk/
aosp-*/
benchmark/
clang/
clang_format/
emulator/
googletest/
jsoncpp/
libbacktrace/
libcxx/
libcxxabi/
libunwind/
linux/
linux64/
mac/
ndk/
nodejs/
protobuf/
sqlite/
android-core/
lzma/
