/abseil-cpp/
/android-core/
/android-libbase/
/android-libprocinfo/
/android-logging/
/android-unwinding/
/android_sdk/
/aosp-*/
/benchmark/
/bionic/
/bloaty/
/catapult_trace_viewer/
/clang/
/clang_format/
/cpp-httplib/
/d8/
/debian_sid_arm-sysroot/
/debian_sid_arm64-sysroot/
/debian_sid_armel-sysroot/
/emulator/
/expat/src/
/googletest/
/grpc/src/
/jsoncpp/
/libbacktrace/
/libbase/
/libcxx/
/libcxxabi/
/libfuzzer/
/libunwind/
/linenoise/
/linux/
/linux64/
/llvm-project/
/lzma/
/mac/
/ndk/
/nodejs/
/open_csd/
/pcre2
/pcre2/
/pigweed/
/protobuf/
/re2
/re2/
/rustup/
/sqlglot/
/sqlite/
/sqlite_src/
/test_data/
/typefaces/
/win/
/zlib/
/zstd/
buildtools_hash_revision_for_cache_on_ci.txt
