<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <meta property="og:title" content="<%= title %>">
  <meta property="og:site_name" content="Perfetto">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="canonical" href="https://perfetto.dev<%= fileName.replace('/index.html', '/') %>">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Roboto+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="/assets/tomorrow-night.css">
  <link rel="shortcut icon" href="/assets/favicon.png" />
  <script type="text/javascript" src="/assets/script.js"></script>
</head>
<body>
<header class="site-header">
  <div class="brand">
    <a href="/">
      <img src="/assets/brand.png">
      <% if (fileName.startsWith('/docs/')) { %>
      <span class="brand-docs">Docs</span>
      <% } %>
    </a>
  </div>
  <a href="#toggle" class="menu"><i class="material-icons-round">menu</i></a>

  <% if (fileName.startsWith('/docs/')) { %>
    <div id="search">
      <input id="search-box" type="text" placeholder="Search" autocomplete="off">
      <div id="search-res"></div>
    </div>
  <% } %>

  <a href="/docs/">Docs</a>
  <a href="/docs/contributing/getting-started#community">Community</a>
  <a href="https://ui.perfetto.dev/">Trace Viewer</a>
  <a href="https://github.com/google/perfetto">GitHub</a>
</header>
