Source: perfetto
Section: kernel
Priority: optional
Maintainer: Sami Kyostila <skyostil@google.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://perfetto.dev
Vcs-Git: https://android.googlesource.com/platform/external/perfetto/
Vcs-Browser: https://android.googlesource.com/platform/external/perfetto/

Package: perfetto
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Performance instrumentation and logging framework
 Perfetto is a performance instrumentation and logging framework for POSIX
 systems.
