#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	gn gen out/release --args="is_debug=false use_custom_libcxx=false\
	  is_hermetic_clang=false is_system_compiler=true is_clang=false\
	  skip_buildtools_check=true enable_perfetto_integration_tests=false\
	  enable_perfetto_unittests=false perfetto_use_system_protobuf=true\
	  perfetto_use_system_zlib=true"

override_dh_auto_build:
	ninja -C out/release perfetto traced traced_probes

override_dh_auto_clean:
	rm -rf out/release
