[Unit]
Description=Perfetto tracing service daemon
Documentation=https://perfetto.dev/docs/

[Service]
ExecStart=/usr/sbin/traced \
    --set-socket-permissions traced:0666:traced-consumer:0660
User=traced
Group=traced
PrivateTmp=no
PrivateDevices=yes
PrivateNetwork=yes
ProtectSystem=yes
ProtectHome=yes
NoNewPrivileges=yes
RestrictAddressFamilies=AF_UNIX
SystemCallArchitectures=native
