[Unit]
Description=Perfetto data sources for system tracing (ftrace and /proc pollers)

[Service]
ExecStart=/usr/sbin/traced_probes
User=root
Group=root
