.hiring-banner {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background: #db4634;
  box-shadow: 0 0 3px rgba(0, 0, 0, 30%);
  left: -65px;
  letter-spacing: 1px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 20px;
  transform: rotate(-45deg);
  width: 200px;
  z-index: 5;

  a {
    color: white;
    text-decoration: none;
  }
}
